@model ProductsListViewModel

<a class="btn btn-primary ecosmetics-button create-product-button"
   asp-controller="Product"
   asp-action="Create"
   >Create a new product</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{int i = 1;}
        @foreach (var product in Model.Products)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Category.CategoryName</td>
                <td class="text-center">
                    <a class="btn btn-primary ecosmetics-button"
                       asp-controller="ProductsTable"
                       asp-action="RemoveFromProductsTable"
                       asp-route-productId="@product.ProductId">Remove</a>
                    <a class="btn btn-primary ecosmetics-button"
                       asp-controller="Product"
                       asp-action="Update"
                       asp-route-productId="@product.ProductId">Edit</a>
                </td>
            </tr>
            { i++; }
        }
    </tbody>
</table>

